<h1>Excursions</h1>
<h2>Your next destination!</h2>

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
<%= link_to "<button>Log In With Google</button>", '/auth/google_oauth2'%>
